/*Colors*/
$white: #fff
$darker-white: #EFF4F7
$black: #000
$light-black: #0F1E36
$black-rgb: rgb(0, 0, 0)
$dark-blue-shape: #373B53
$darker-blue-shape: #2E3B52
$light-white: #F8F8FB
$grey: #494E67
$light-grey-shape: #A6ACBE
$darker-grey-shape: #C4C4C4
$darker-blue: #6F809E
$darkest-grey-shape: #3F4B5E
$dark-grey-shade: #5D6C76
$bright-blue: #0094B6
$dark-green: #00333F
